In [1]:
pwd

'/Users/atiwari/Documents/SelfLearning/LearningPython'

definitely check out the keyboard shortcuts for jupyter- i have it on my onenote as a screenshot - pretty handy stuff - you could do a lot of navigation and running and inserting cells without needing touch the mouse -pretty neat

# Playing around with basic calculations

had some fun last time i played around in python

In [3]:
7/4

1.75

In [5]:
7%2

1

In [5]:
3**4

81

In [6]:
3 + 10*30 + 9

312

In [7]:
29*4 - 16

100

# Variable Names, Types and Knowing Type

knowing the type is importnt in python as it is not statically typed so can cause bugs. Use type()

In [10]:
 abhi = 203

In [11]:
abhi = abhi + 29
abhi

232

In [12]:
type(abhi)

int

In [13]:
abhi = 50.2
abhi

50.2

In [14]:
type(abhi)

float

In [15]:
my_pace= 5.5 
my_time = 55
my_distance = my_time/my_pace

In [16]:
my_distance

10.0

# Strings

In [17]:
'this is single inaverted quotes'

'this is single inverted quotes'

In [18]:
"I'm learning python"# noe that single quote wont have worked here!

"I'm learning python"

In [19]:
print("hello")# note no quotes

hello

In [20]:
print("yo1")
print("yo2")

yo1
yo2

Escape sequences in strings

In [22]:
print('hello \n world')
print('hello \nworld')
print('hello \tworld')

hello
 world
hello
world
hello 	world

In [25]:
len('heloow') # round brackets for funciton

6

slicing

In [38]:
mystr = 'Hello World'
mystr

'Hello World'

In [28]:
mystr[0]

'H'

In [29]:
mystr[6]

'W'

In [30]:
mystr[-1]

'd'

In [31]:
mystr[-3]

'r'

In [43]:
mystr[0:6:2]#NOTICE colon, NOTICE first two argumentds are indexes and counts

'Hlo'

In [44]:
mystr[::2]

'HloWrd'

In [41]:
mystr[2:]

'llo World'

In [45]:
mystr[::-1]#neat little trick to reverse a string

'dlroW olleH'

In [42]:

mystr[:3]#upto but NOT including 3 !!!

'Hel'

### String Properties

In [39]:
name = 'abhi'#Immutability
name[0]='s'

TypeError: 'str' object does not support item assignment

In [42]:
a = "12"
b="34" #string concatenation
c =a +b
c
c = c[0] + c
c

'11234'

In [43]:
'2'+'3'# string concat NOT addition, loosely typed adv/disadv

'23'

In [44]:
'2' + 3 # not allowed

TypeError: must be str, not int

In [50]:
ab_cd = 'r2'
ab_cd = ab_cd*10 # tab for auto completion , * to repeat strings 
ab_cd.capitalize() # tab and . to find methods available
ab_cd.split('2')# split based on space or delimiter passed

['r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', '']

### Print formatting with strings

In [52]:
print('this {} a test {} formatting {}'.format('in python', 'is', 'of')) #format function - substitutes stuff in stringaa

this in python a test is formatting of

In [53]:
print('this {1} a test {2} formatting {0}'.format('in python', 'is', 'of')) # can reference from {}

this is a test of formatting in python

In [54]:
print('this {1} a test {1} formatting {1}'.format('in python', 'is', 'of')) # using it again and again

this is a test is formatting is

In [55]:
print('a {q} {b} {f} jumped over the wall'.format(q='quick', b ='brown', f='fox')) # name and refer instead of seuqnetial index or 0,1,2

a quick brown fox jumped over the wall

In [56]:
n = 22/7
n

3.142857142857143

In [57]:
 # format for formatting float in python #value:width.precision f
print('truncated pie to {a} digits is {b:1.3f}'.format(a = 3, b = n)) # truncating a string, width =1 mostly not used

truncated pie to 3 digits is 3.143

In [48]:
#f string method for string formatting 
a = 34; b ='31'
print (f' this was a {a} and this was b {b}')

 this was a 34 and this was b 31

## Lists

In [59]:
l = [1, 'two', 3, 'four'] # ordered set of objects that need not be the same type
l

[1, 'two', 3, 'four']

In [60]:
l[1] = 2 # mutables 
l

[1, 2, 3, 'four']

In [61]:
l[:2] # similar slicing as in strings

[1, 2]

In [64]:
l.append(5)  # attach to the end of the list 
r=5
l.append(r)
l

[1, 2, 3, 'four', 5, 5, 5, 5]

In [66]:
a= l.pop() # pop from the end, popped item can be stored somewhere else 
a
l
l.pop(-1) # or an index 
l

[1, 2, 3, 'four', 5]

In [71]:
l =[1,2,5,4,0] # lists with same type can be sorted, 
ab =  l.sort() #WILL NOT RETURN anyting
ab
l
type(ab) # ab is none type, we need to re-assign if want that

NoneType

In [72]:
l.reverse() # in place, does not retunr anything!
l

[5, 4, 2, 1, 0]

## Dictionaries

In [82]:
d = { 'k1':'v1', 'k2':1.23, 'k3':[0,1,2], 'k4':{'k41':'v41', 'k42':'v42'}} # curly braces and colons to declare list
d # unordered key value pair, can have any types, including lists and dictionaries 
d['k1'] # square brcakets to refernece just like lists
d['k3'][1] # list in dict reference  
d['k4']['k42'] # dict in dict reference
d['k4']['k42'].upper() # stacking calls

'V42'

In [85]:
d.keys()
d.values()
d.items()

dict_items([('k1', 'v1'), ('k2', 1.23), ('k3', [0, 1, 2]), ('k4', {'k41': 'v41', 'k42': 'v42'})])

## Tuples

In [80]:
l = [1,2,3]
t = (1,2,2,3) # . immutable, very few functions only count and index, 
type(l)
type(t)

tuple

In [81]:
l[0]=2
t[0]=2 # OOPS cant reassign

TypeError: 'tuple' object does not support item assignment

In [82]:
t[3]=4 # or append

TypeError: 'tuple' object does not support item assignment

In [83]:
t.count(2) # only these 2 functions available, this one counts the no. of times something appears in teh tuple

t.index(2) # this one returns the index of an object

2

## Sets

In [90]:
s = {1,2,2,2,3,4,5} # unique values 
l=[1,2,2,3,3,3]
type(s)

set

In [89]:
s # doesnt have duplicate objects, even if you passed it

{1, 2, 3, 4, 5}

In [100]:
s.add(3) # still only 1 3 in set 

s[0] # doesnt support indexing

TypeError: 'set' object does not support indexing

In [99]:
n = set(l) # duplicates auto removed upon typecasting
n
type(n)

set

## Booleans

In [101]:
n = True # or False are Boolean values of type bool, 
type(n)

bool

In [96]:
b = (2>3) # can be used to read manipulate output of compasion operators
type(b)
b

False